<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data</title>
    <style>
        h2{
            text-align: center;
        }
        table {
            width: 50%;
            margin: 20px auto;
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: center;
        }
        th {
            background-color: #f4f4f4;
        }
    </style>
</head>
<body>
    <header>
        <div class="header">
            <h4>{{filename}}</h4>

        </div>
    </header>
    {% if data[0] %}
        
    <table>
        <thead>
            <tr>
                {% for key in data[0].keys() %}
                <th>{{ key }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
           
            {% for row in data %}
            <tr>
                {% for value in row.values() %}
                <td><input type="{{value}}" value="{{value}}"></td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
</body>
</html>
